@font-face {
    font-family: 'Alex_Brush';
    src: url('./fonts/Alex_Brush/AlexBrush-Regular.ttf') format('truetype'); /* Add other formats if needed */
  }
@font-face {
    font-family: 'Lexend_Deca';
    src: url('./fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf') format('truetype'); /* Add other formats if needed */
  }
